* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
}

body, input {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 1.8rem;
  color: grey;
  font-weight: normal;
}

.full {
  height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
  &--wrap {
    flex-wrap: wrap;
  }
  &--column {
    flex-direction: column;
  }
  &--grow {
    flex-grow: 1;
  }
}

.align {
  &--start {
    align-items: flex-start;
  }
  &--end {
    align-items: flex-end;
  }
  &--center {
    align-items: center;
  }
}

.justify {
  &--center {
    justify-content: center;
  }
  &--between {
    justify-content: space-between;
  }
}

.text {
  &--center {
    text-align: center;
  }
}

.col {
  max-width: 600px;
  padding: 2rem;
}
