input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 120px;
  -moz-appearance: textfield;
  width: 100px;
  height: 100px;
  text-align: right;
  color: grey;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input {
  &__field {
    margin: 0 1rem;
  }
  &__label {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    margin-left: 0.5rem;
    line-height: 1;
  }
  &__unit {
    font-size: 4rem;
    line-height: 1;
  }
}