.races {
  padding: 1rem;
  background: #eef0fd;
  &__title {
    margin-top: 0;
    color: black;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    color: grey;
    &-item {
      font-size: 2rem;
    }
  }
}